<div>
<h1>Todo ändern</h1>
<form action="/edit/{{note._id}}/" method="post">
        <label>Title <input type="text" name="title" value="{{note.title}}"></label>
        <label>Beschreibung <textarea name="beschreibung">{{note.beschreibung}}</textarea></label>
        <label>Wichtigkeit <input type="number" name="wichtigkeit" min="0" max="5" value="{{note.wichtigkeit}}"></label>
        <label>Fertig bis <input type="date" name="fertigBis" value="{{note.fertigBis}}"></label>
        <label><input type="checkbox" name="erledigt" {{#if erledigt}}checked{{else}}{{/if}}> Erledigt</label>
        <button type="submit">Aktualisieren</button><button type="reset">Reset</button>
</form>
</div>

