<h1>Todo ändern</h1>

{{#if title}}
    <form action="/notes/edit/{{_id}}/" method="post">
        <label for="title">Title</label><input type="text" name="title" id="title" value="{{title}}">
        <label for="beschreibung">Beschreibung</label><textarea name="beschreibung" id="beschreibung">{{beschreibung}}</textarea>
        <label for="wichtigkeit">Wichtigkeit</label><input type="number" name="wichtigkeit" id="wichtigkeit" value="{{wichtigkeit}}">
        <label for="fertigBis">Fertig bis</label><input type="date" name="fertigBis" id="fertigBis" value="{{fertigBis}}">
        <div class="switch">
            <input class="switch-checkbox" type="checkbox" name="erledigt" id="check" checked="{{erledigt}}">
            <label class="switch-label" for="check" name="check">Erledigt</label>
        </div>
        <button type="submit">Aktualisieren</button><button type="reset">Abbruch</button>
    </form>
{{/if}}

