
<div id="container1">
    <form action='/notes' method='get'><button type="submit" id="createButton">Create new Note</button></form>
    <form action="" method="get"><button id="styleSwitcher" type="submit">Style Switcher</button></form>
</div>
<div id="container2">
    <form action='/sortedByDate' method='get'><button id="sortDate" type="submit">By finish Date</button></form>
    <form action='/sortedByCreateDate' method='get'><button id="sortCreated" type="submit">By Create Date</button></form>
    <form action='/sortedByRating' method='get'><button id="sortByImportance" type="submit">By Importance</button></form>
    <form action="" method="get" id="hideFinsishedForm"><button id="hideFinsished" type="submit">Hide Finished</button></form>
</div>
{{#each data}}
<div id="container3" data-id="{{this.id}}">
    <span>{{this.fertigBis}}</span><span>{{this.title}}</span><div id="rating">{{#times this.wichtigkeit}}<span>&#9733;</span>{{/times}}</div>
</div>
    {{#if this.erledigt}}
<div id="container4">
    <label for="finished"><input type="checkbox" class="checkboxFinished" id="finished" checked>Finished</label>
    <span id="beschreibung">{{this.beschreibung}}</span>
    <form action='/notes/edit' method='get' id="editButton"><button class="editButton">Edit</button></form>
</div>
    </div>
    {{else}}
        <div id="container4">
            <label for="finished"><input type="checkbox" class="checkboxFinished" id="finished">Finished</label>
            <span id="beschreibung">{{this.beschreibung}}</span>
            <form action='/notes/edit' method='get' id="editButton"><button class="editButton">Edit</button></form>
        </div>
        </div>
    {{/if}}
{{/each}}



