<div id="container1">
    <form method='get'>
        <button type="submit" id="createButton" formaction="/notes">Create new Note</button></form>
        <button id="styleSwitcher" type="submit" formaction="">Style Switcher</button>
    </form>
</div>
<div id="container2">
    <form method='get'>
        <div class="btn-group">
            <button id="sortDate" type="submit" formaction="/sortedByDate">By finish Date</button>
            <button id="sortCreated" type="submit" formaction="/sortedByCreateDate">By Create Date</button>
            <button id="sortByImportance" type="submit" formaction='/sortedByRating'>By Importance</button>
            <button id="hideFinsished" type="submit" formaction="/hiddenFinished">Hide Finished</button>
        </div>
    </form>
</div>
{{#each data}}
    <div id="container3" data-id="{{this.id}}">
        <span>{{this.fertigBis}}</span><span>{{this.title}}</span><div id="rating">{{#for this.wichtigkeit}}<span>&#9733;</span>{{/for}}</div>
    </div>
    {{#if this.erledigt}}
        <div id="container4">
            <label for="finished"><input type="checkbox" class="checkboxFinished" id="finished" checked>Finished</label>
            <span id="beschreibung">{{this.beschreibung}}</span>
            <form action='/notes/edit/{{this._id}}' method='get' id="editButton"><button class="editButton">Edit</button></form>
        </div>
    {{else}}
        <div id="container4">
            <label for="finished"><input type="checkbox" class="checkboxFinished" id="finished">Finished</label>
            <span id="beschreibung">{{this.beschreibung}}</span>
            <form action='/notes/edit/{{this._id}}' method='get' id="editButton"><button class="editButton">Edit</button></form>
        </div>
    {{/if}}
{{/each}}



