
<div id="container1">
    <form action='/notes' method='get'><button type="submit" id="createButton">Create new Note</button></form>
    <button id="styleSwitcher">Style Switcher</button>
</div>
<div id="conatainer2">
    <form action='/sortedByDate' method='get'><button id="sortDate">By finish Date</button></form>
    <form action='/sortedByCreateDate' method='get'><button id="sortCreated">By Create Date</button></form>
    <form action='/sortedByRating' method='get'><button id="sortByImportance">By Importance</button></form>
    <button id="hideFinsished">Hide finsihed</button>
</div>
{{#each data}}
<div id="container3" data-id="{{this.id}}">
<span>{{this.title}}</span><span>{{this.beschreibung}}</span><span>{{this.wichtigkeit}}</span>
<p>{{this.fertigBis}}</p>
    {{#if this.erledigt}}
<div id="container4">
    <input type="checkbox" class="checkboxFinished" checked>Finished
    <p id="beschreibung">Beschreibung</p>
    <form action='/notes/edit' method='get'><button class="editButton">Edit</button></form>
</div>
    </div>
    {{else}}
        <div id="container4">
            <input type="checkbox" class="checkboxFinished">Finished

            <p id="beschreibung">Beschreibung</p>
            <button class="editButton">Edit</button>
        </div>
        </div>
    {{/if}}
{{/each}}



