<div id="container1">
    <form method='get'>
        <button type="submit" id="createButton" formaction="/new">Create new Note</button></form>
        <button id="styleSwitcher" type="submit" formaction="">Style Switcher</button>
    </form>
</div>
<div id="container2">
        <div class="btn-group">
            <form action='/' method='POST'>
                <input type="hidden" name="sorting" value="dueDate" />
                <input type="submit" value="By finish date {{#if_eq sortBy 'dueDate'}}{{#if_eq sortOrder 1}}&#x25B2{{else}}&#x25BC{{/if_eq}}{{/if_eq}}" {{#if_eq sortBy 'dueDate'}}class="activeFilter"{{/if_eq}} />
            </form>
            <form action='/' method='POST'>
                <input type="hidden" name="sorting" value="createdDate" />
                <input type="submit" value="By created date {{#if_eq sortBy 'createdDate'}}{{#if_eq sortOrder 1}}&#x25B2{{else}}&#x25BC{{/if_eq}}{{/if_eq}}" {{#if_eq sortBy 'createdDate'}}class="activeFilter"{{/if_eq}} />
            </form>
            <form action='/' method='POST'>
                <input type="hidden" name="sorting" value="importance" />
                <input type="submit" value="By Importance {{#if_eq sortBy 'importance'}}{{#if_eq sortOrder 1}}&#x25B2{{else}}&#x25BC{{/if_eq}}{{/if_eq}}" {{#if_eq sortBy 'importance'}} class="activeFilter"{{/if_eq}} />
            </form>
            <form action='/' method='POST'>
                <input type="hidden" name="showFinished" value="{{#if_eq showFinished 'true'}}false{{else}}true{{/if_eq}}" />
                <input type="submit" value="Show Finished" {{#if_eq showFinished 'true'}} class="activeFilter"{{/if_eq}} />
            </form>
        </div>
</div>
{{#each notes}}
    <div id="container3" data-id="{{this.id}}">
        <span>{{this.fertigBis}}</span><span>{{this.title}}</span><div id="rating">{{#for this.wichtigkeit}}<span>&#9733;</span>{{/for}}</div>
    </div>
    {{#ifEquals this.state "FINISHED"}}
        <div id="container4">
            <label for="finished"><input type="checkbox" class="checkboxFinished" id="finished" checked>Finished</label>
            <span id="beschreibung">{{this.beschreibung}}</span>
            <form action='/edit/{{this._id}}' method='get' id="editButton"><button class="editButton">Edit</button></form>
        </div>
    {{else}}
        <div id="container4">
            <label for="finished"><input type="checkbox" class="checkboxFinished" id="finished">Finished</label>
            <span id="beschreibung">{{this.beschreibung}}</span>
            <form action='/edit/{{this._id}}' method='get' id="editButton"><button class="editButton">Edit</button></form>
        </div>
    {{/ifEquals}}
{{/each}}



